<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- IOC container 에서 객체생성 -->
	<!-- xml파일을 로딩할때 객체가 생성됨 -->
<!-- 	<bean class="kr.hs.study.beans.TestBean"/> -->

	<bean id="obj1" class="kr.hs.study.beans.TestBean1"/>
	
	<bean id="obj2" class="kr.hs.study.beans.TestBean1">
		<constructor-arg value="10" type="int" index="0"/>
		<constructor-arg value="11.11" type="double" index="1"/>
		<constructor-arg value="NCSDB" type="java.lang.String" index="2"/>
		<constructor-arg ref="d1" index="3"/> <!-- ref: id -->
	</bean>
	
	<bean id="obj3" class="kr.hs.study.beans.TestBean1">
		<property name="a" value="20"/> <!-- name: 멤버이름 -->
		<property name="b" value="22.22"/>
		<property name="c" value="Spring2"/>
		<property name="d1" ref="d1"/>  <!-- ref: id -->
	</bean>
	
	<bean id="obj4" class="kr.hs.study.beans.TestBean1" autowire="byName"/>
	<!-- autowire: 자동주입 byName
	TestBean1클래스의 private DataBean1 d1; 에서 d1과 동일한 이름의 bean 객체 할당
	-> 멤버변수 이름 == bean의 id가 동일한 것이 자동주입-->
	
	<bean id="obj5" class="kr.hs.study.beans.TestBean1" autowire="byType"/>
	<!-- byType
	-> 멤버변수 타입(클래스이름) == bean의 클래스가 동일한 것이 자동 주입 -->
	
	<bean id="obj6" class="kr.hs.study.beans.TestBean1" autowire="constructor"/>
	
	<bean id="obj7" class="kr.hs.study.beans.TestBean1" autowire="byType">
		<constructor-arg value="10"/>
		<constructor-arg value="22.22"/>
		<constructor-arg value="Spring3"/>
	</bean>
	<!-- byType 사용시 같은 객체가 2개 이상이면 에러 발생 -->
	
	<bean id="d1" class="kr.hs.study.beans.DataBean1"/>

</beans>
